
.end
{
    margin-left :auto;
}
.pos
{
    position: absolute;
    aspect-ratio: 0;
    z-index: 2;
    width: 100%;
    background-color: rgba(0,0, 0, .5);
}

.bt
{
    border-radius: 5px;
    border: solid 1px slateblue;
    background-color: azure;
    color: black;
}
.bt:hover
{
    background-color: rgba(0,0, rgb(41, 41, 217), .2);
}
