.cards
{
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.coverAll
{
    background-color: black;
    
    background-size: auto;
    height: 70%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
.ic
{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.favo
{
    position: relative;
}